.app {
    width: 1000px;
    margin: $base-margin 0 auto;
    display: flex;

    &-title {
        margin-top: 0;
        text-align: center;
    }
}

.left-navi {
    list-style-type: none;
    margin-right: $base-margin;
    padding-right: $base-margin;
    border-right: 1px solid #ccc;
}

.result-area {
    display: flex;
}

.result-right {
    margin-left: 20px;
}